<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規作成</title>
</head>

<body>
	<h1 th:text="${createTaskForm.date} + ' の新規ToDo作成'"></h1>

	<form th:action="@{/todo/create}" th:object="${createTaskForm}" method="post">
		<input type="hidden" th:field="*{date}">

		<label>タイトル</label><br>
		<input type="text" th:field="*{title}"><br>
		<p th:if="${#fields.hasErrors('title')}" style="color:red">＊登録にはタイトルが必要です</p>

		<label>メモ</label><br>
		<textarea th:field="*{memo}"></textarea><br><br>

		<label>タグ</label><br>
		<select th:field="*{tagId}">
			<option value="">なし</option>
			<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name} ?: ${tag.color}"
				th:style="'background-color:' + ${tag.color}">
			</option>

		</select><br><br>
		<button type="submit">保存</button>
		<a th:href="@{/todo(date=${createTaskForm.date})}">← 戻る</a>
	</form>
</body>

</html>