<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>リマインドアラーム</title>
</head>
<body>
  <h1>リマインドアラーム</h1>

  <form th:action="@{/todo/update}" th:object="${updateTaskForm}" method="post">
    <input type="hidden" th:field="*{date}">
    <input type="hidden" name="id" th:value="${id}">

    <label>タイトル</label><br>
    <input type="text" th:field="*{title}"><br>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></p>

    <label>メモ</label><br>
    <textarea th:field="*{memo}"></textarea><br><br>

	<label>タグ</label><br>
	<select th:field="*{tagId}">
	  <option value="">なし</option>
	  <option th:each="tag : ${tags}"
	          th:value="${tag.id}"
	          th:text="${tag.name} ?: ${tag.color}"
	          th:style="'background-color:' + ${tag.color}">
	  </option>
	</select><br><br>
	<!-- 時間設定 -->
	<label>通知時間</label><br>
	<select th:field="*{notifyHour}">
	  <option value="">--</option>
	  <option th:each="h : ${#numbers.sequence(0, 23)}"
	          th:value="${h}"
	          th:text="${h} + '時'">
	  </option>
	</select>
	<select th:field="*{notifyMinute}">
	  <option value="">--</option>
	  <option th:each="m : ${#numbers.sequence(0, 59)}"
	          th:value="${m}"
	          th:text="${m} + '分'">
	  </option>
	</select><br><br>

    <button type="submit">更新</button>
    <a th:href="@{/todo(date=${updateTaskForm.date})}">← 戻る</a>
  </form>
</body>
</html>